// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$coach-bg: #FFFDE1;

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.box {
  width: 200px;
}

#answer {
  background-color: $coach-bg;
}
